alchemy-mock==0.4.3
black==23.11.0
callgraph4py==2.0.0
docformatter==1.7.5
flake8-bugbear==23.9.16
flake8==6.1.0
gprof2dot==2022.7.29
mixpanel==4.10.0
mypy==1.7.0
pydocstyle==6.3.0
pylint==3.0.2
pylama
pytest-cov==4.1.0
pytest-profiling==1.7.0
pytest-xdist==3.3.1
pytest==7.4.3
PyYAML==6.0.1
termplotlib
types-PyYAML==6.0.12.12
requests-mock==1.10.0
types-requests==2.31.0.2
types-setuptools