# Runs runem against itself

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  ci_tests:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9, 3.11, 3.12]
        os: [ubuntu-latest, macos-latest] # Add windows-latest if needed
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache pip
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ matrix.python-version }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Upgrade Pip
        run: pip install --upgrade pip

      - name: Handle Setuptools Bug for Python 3.12
        if: matrix.python-version == '3.12'
        run: |
          pip uninstall -y setuptools
          pip install setuptools

      # - name: Cache Yarn
      #   if: ${{ matrix.os != 'windows-latest' }}
      #   uses: actions/cache@v5
      #   with:
      #     path: ~/.cache/yarn
      #     key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
      #     restore-keys: |
      #       ${{ runner.os }}-yarn-

      - name: Install Yarn Deps
        run: |
          corepack enable
          yarn install

      - name: Install Project
        run: pip install -e .[tests]

      - name: Run Tests
        run: python3 -m runem.runem --verbose --no-spinner

      - name: Test Builds
        run: |
          python -m pip install --upgrade pip
          pip install build
          python -m build

      - name: Upload Artifacts
        if: failure() # This step runs only if any previous step failed
        uses: actions/upload-artifact@v6
        with:
          name: reports-${{ matrix.os }}-python${{ matrix.python-version }}
          path: reports/**
